.login{
  height: 100vh;
  background: url('../../assets/images/background.jpg') 50% fixed no-repeat;
  background-size: cover;
  .main{
    padding:40px;
    background:rgba(98, 120, 192, 0.3);
    border-radius: 20px;
    width: 408px;
    .box{
      width: 328px;
    }
    
  }
  :global{
    .ant-form-item-label >label{
      color: #fff;
    }
    .ant-form-item-label > label .ant-form-item-tooltip{
       color: #fff;
    }
    .ant-form-large .ant-form-item-label > label{
      height: 30px;
    }
    .ant-form-item{
      margin-bottom: 4px;
    }
  }
}

