.main{
  min-height: 100vh;
  background: #f7f8f9;
  .sign{
    position: fixed;
    top: 21%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 877px;
    height: 526px;
    >div{
      width: 100%;
      height: 100%;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .code{
        position: absolute;
        z-index: 3;
        right: 87px;
        top: 47px;
        .title{
          font-size: 16px;
          font-weight: bold;
          color: #108ee9;
          text-align: center;
          margin-bottom: 25px;
        }
      }
      .box{
        position: relative;
        width: 250px;
        height: 310px;
        background: #eff0f1;
        border-radius: 13px;
      }
    }
  }
}
