// @import '~antd/es/style/themes/default.less';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  .contentItem {
    cursor: pointer;
    padding: 20px;
    p {
      margin-top: 20px;
    }
    &:hover {
      box-shadow: 4px 4px 12px rgb(207, 207, 207);
    }
  }
  .dynamicItem {
    padding: 20px;
  }
  .rate {
    padding: 20px;
  }
}
